{% extends "base.html.twig" %}
{# empty Twig template #}
{% block title %}Roaming Repairs{% endblock %}
{% block content %}

<div class="container">
    
	<form action="{{ path('login_check') }}" method="post" class="form-signin">
		<h2 class="form-signin-heading">Please sign in</h2>
	    {{ error }}
	    <input type="text" name="_username" value="{{ last_username }}" placeholder="Username" class="form-control" required autofocus>
	    <input type="password" name="_password" value="" placeholder="Password" class="form-control" required>
	    <input type="submit" name="submit" class="btn btn-lg btn-primary btn-block">
	</form>

	
</div>

{% endblock %}
{% block footerscripts %}
{% endblock %}